<nb-card>
    <nb-card-header style="font-weight: 600;
      ">
      Faire quelques changements sur la page d'accueil de la partie front
    </nb-card-header>
  
    <nb-card-body style="margin: 0;">
      <div class="row h-100">
        <div class="col-sm-4 my-auto" style="text-align: center;">
          <button class="card card-block w-25" type="button" routerLink="../update-basics" class="col btn cancel">Cliquez ici pour changer le texte
            animé</button>
        </div>
        <div class="col">
          <img src="./assets/images/test1.jpg" style="width: 100%;" />
        </div>
      </div>
  <br><br><br><br><br><br>
      <div class="row h-100">
  
        <div class="col">
          <img src="./assets/images/test2.jpg" style="width: 100%;" />
        </div>
        <div class="col-sm-4 my-auto">
        <div  style="text-align: center;">
          <button class="card card-block w-25" type="button" class="col btn cancel">Cliquez ici pour changer liste</button>
        </div>
      </div>
      </div>
      <br><br><br><br><br><br>
      <div class="row h-100">
          <div class="col-sm-4 my-auto" style="text-align: center;">
            <button class="card card-block w-25" routerLink="../update-basics" type="button" class="col btn cancel">Cliquez ici pour changer les images</button>
          </div>
          <div class="col">
            <img src="./assets/images/test3.jpg" style="width: 100%;" />
          </div>
        </div>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
      <div class="row h-100">
  
        <div class="col">
          <img src="./assets/images/test4.jpg" style="width: 100%;" />
        </div>
        <div class="col-sm-4 my-auto" style="text-align: center;">
          <button class="card card-block w-25" routerLink="../../products/add-product" type="button" class="col btn cancel">Cliquez ici pour ajouter un produit avec statut meilleur</button>
        </div>
      </div>
      <br><br><br><br><br><br>
      <div class="row h-100">
          <div class="col-sm-4 my-auto" style="text-align: center;">
            <button class="card card-block w-25" routerLink="../../products/add-product" type="button" class="col btn cancel">Cliquez ici pour ajouter un produit en promotion</button>
          </div>
          <div class="col">
            <img src="./assets/images/test5.jpg" style="width: 100%;" />
          </div>
        </div>
        <br><br><br><br><br><br>
        <div class="row h-100">
    
          <div class="col">
            <img src="./assets/images/test6.jpg" style="width: 100%;" />
          </div>
          <div class="col-sm-4 my-auto" style="text-align: center;">
            <button class="card card-block w-25" type="button" class="col btn cancel">Cliquez ici pour changer liste feedback</button>
          </div>
        </div>
        <br><br><br><br><br><br>
        <div class="row h-100">
          <div class="col-sm-4 my-auto">
            <div class="row" style="text-align: center;">
              <button class="card card-block w-25" type="button" class="col btn cancel">Cliquez ici pour changer le vidéo</button>
            </div>
            <div class="row" style="text-align: center;">
              <button class="card card-block w-25" routerLink="../../products/add-product" type="button" class="col btn cancel">Cliquez ici pour ajouter un nouveau produit
              </button>
            </div>
          </div>
            <div class="col">
              <img src="./assets/images/test7.jpg" style="width: 100%;" />
            </div>
          </div>
      <br><br><br><br><br><br>  </nb-card-body>
      <br><br><br><br><br><br>
      <div class="row h-100">
  
        <div class="col">
          <img src="./assets/images/test8.jpg" style="width: 100%;" />
        </div>
        <div class="col-sm-4 my-auto" style="text-align: center;">
          <button class="card card-block w-25" routerLink="../../products/brand/list-brands" type="button" class="col btn cancel">Cliquez ici pour Changer liste marque</button>
        </div>
      </div>
      <br><br><br><br><br><br>
      <div class="row h-100">
          <div class="col-sm-4 my-auto" style="text-align: center;">
            <button class="card card-block w-25" type="button" class="col btn cancel">Cliquez ici pour changer liste rejoindre nous sur facebook</button>
          </div>
          <div class="col">
            <img src="./assets/images/test9.jpg" style="width: 100%;" />
          </div>
        </div>
        <br><br><br><br><br><br>
        <div class="row h-100">
    
          <div class="col">
            <img src="./assets/images/test10.jpg" style="width: 100%;" />
          </div>
          <div class="col-sm-4 my-auto" style="text-align: center;">
            <button class="card card-block w-25" type="button" class="col btn cancel">Cliquez ici pour changer liste rejoindre nous sur instagram</button>
          </div>
        </div>
        <br><br><br><br><br><br>
        <div class="row h-100">
            <div class="col-sm-4 my-auto" style="text-align: center;">
              <button class="card card-block w-25" type="button" class="col btn cancel">Cliquez ici pour changer liste rejoindre nous sur tiktok</button>
            </div>
            <div class="col">
              <img src="./assets/images/test11.jpg" style="width: 100%;" />
            </div>
          </div>
          <br><br><br><br><br><br>
          <div class="row h-100">
      
            <div class="col">
              <img src="./assets/images/test12.jpg" style="width: 100%;" />
            </div>
            <div class="col-sm-4 my-auto" style="text-align: center;">
              <button class="card card-block w-25" type="button" class="col btn cancel" routerLink="../update-basics">Cliquez ici pour changer Le texte historique</button>
            </div>
          </div>
         
    </nb-card>