<div class="w-100 d-inline-block" style="font-weight: lighter">
    <p class="w-100 d-inline-block p textd">Réinitialiser votre mot de passe </p>
    <div class="divd1  ">
        <br>

        <br>
        <nb-alert *ngIf="error!=''" outline="danger" role="alert">
            <p class="alert-title"><b>Erreur!</b></p>
            <ul class="alert-message-list">
              <li class="alert-message">{{ error }}</li>
            </ul>
          </nb-alert>
          
        <div>
            <p class="text1">
                Veuillez cliquer sur le bouton Envoyer lien de réinitialisation.
                <br>
                Vous recevrez un lien temporaire pour réinitialiser votre mot de passe.
                <br>
                Merci de consulter votre E-mail: t.********anager@gmail.com.
            </p>

        </div>

        <div class="row">

            <button fullWidth status="success" class="col" type="button" class="col al animated-button1"
            (click)="requestPassword()"
                style="border: none;border-radius:0;padding:2.5%">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <p
                    style="color:white;font-weight:400; font-family: 'Yu Gothic UI';opacity:0.82;margin:0;padding:0;font-size:0.8rem">
                    Envoyer lien de réinitialisation </p>
            </button>
        </div>
        <div class="text1" style="text-align: center;"><a class="al" routerLink="../login">
                Retourner pour se connecter ?</a>

        </div>
        <hr>





        <div>