::ng-deep .nb-theme-default nb-card-header {
  margin-top: 1% !important;
  padding: 0 !important;
}
::ng-deep .nb-theme-default nb-card-b {
  margin-top: 1% !important;
  padding: 0 !important;
}
::ng-deep .nb-theme-default nb-alert {
  border-color: #630f0f !important;
}
::ng-deep .nb-theme-default nb-card-body {
  display: none;
}
::ng-deep .navigation .link nb-icon {
  display: none !important;
}

::ng-deep .navigation {
  background-color: #f7f9fc;
  padding: 0.8rem;
}
::ng-deep .navigation :before {
  margin: 0%;
  padding: 0%;
  color: #aaa;
  font-weight: 200;
  font-size: 13px;

  content: "Réinitialiser mot de passe";
}

.textd {
  font-size: 22px;
  font-weight: 300;
  font-family: "Yu Gothic UI";
  text-transform: uppercase;
  width: 1%;
  letter-spacing: 0.1px;
  color: black;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.hs {
  padding: 0.8%;
  color: #aaa;
  background-color: #f2f3f3;
  font-size: 13px;
  padding-left: 10%;
}

.divd1 {
  border: 1px solid #d0d0d0;

  padding: 2%;
  margin: 0;

  height: 100%;

  margin-top: 3%;
  border-width: 1px 1px;
}
.text1 {
  color: black;
  font-weight: 300;
  font-family: "Yu Gothic UI";
  letter-spacing: 0.1px;
  text-align: center;
  font-size: 16px;
  margin: 3%;
}
.al {
  color: #7e0a1cc9;
  font-weight: 300;
  font-family: "Yu Gothic UI";
  letter-spacing: 0.1px;
  text-align: center;
  font-size: 16.5px;
  margin: 3%;
  text-decoration: none;
}
.text2 {
  color: #424949 !important ;
  font-size: 14px !important;
}
.text3 {
  color: #424949 !important ;
  font-size: 13px !important;
}

.animated-button1 {
  background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
  padding: 2% 3%;
  margin: 1%;
  margin: 8%;
  margin-top: 3%;
  margin-bottom: 2%;
  max-width: 100%;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 13px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
input:invalid {
  border: solid hsl(0, 0%, 82%);
  max-height: 35px;
  min-height: 20px;
  width: 100%;
  border-width: 1px 1px;
  border-radius: 0%;
  padding: 3%;
  color: #424949;
  font-size: 13px;
  width: 100%;
}

input:valid {
  border: solid hsl(0, 0%, 82%);
  max-height: 35px;
  min-height: 20px;
  width: 100%;
  border-width: 1px 1px;
  border-radius: 0%;
  padding: 3%;
  color: #424949;
  font-size: 13px;
  width: 100%;
}
:focus {
  width: 100%;
  outline: none;
}
button {
  border: none;
}
button:focus {
  box-shadow: none;
}
.erreur {
  font-size: 13px;
  color: #3d0b0b;
}
@media only screen and (max-width: 844px) {
  ::ng-deep {
    .divd1 {
      padding: 2%;
      margin: 0;
      width: 100%;

      margin-top: 1%;
      border: solid #d0d0d0;
      border-width: 1px 1px;
    }
  }
}
p {
  color: #7e0a1cc9;
  font-weight: 300;
  font-family: "Yu Gothic UI";
  letter-spacing: 0.1px;
  font-size: 14.5px;
  margin-top: 1%;
}
a:hover {
  color: #d61331a6;
}
a:focus {
  color: #a51027a6;
}
